@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}

.navbar-logo{
	padding: 18px;
	color: #7ee94c;
}
.navbar-logo:hover{
	color: #f44336;
}
.navbar-mainbg{
	background-color: #03396c;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 8px;

}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.7);
    text-decoration: none;
    font-size: 17px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


/* ABOUT US */

.home .home-slider .wrapper .slide{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	padding-top: 5rem;
	padding-left: 5rem;
}

.home{
	background: linen;
}
.home .home-slider .wrapper .slide .content h1{
	color: rgb(12, 184, 12);
	font-size: 2rem;

}
.home .home-slider .wrapper .slide .content h3{
	color: black;
	font-size: 2.5rem;
	
}
.home .home-slider .wrapper .slide .content p{
	color: lightslategray;
	font-size: 1rem;
	padding: .5rem 0;
	line-height: 1.5;
}
.swiper-pagination-bullet-active{
	background: #a83279;
}
.home .home-slider .wrapper .slide .content h3{
	
	font-size: 2.5rem;
	
}

/* ABOUT US */

.home .home-slider .wrapper .slide{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	padding-top: 10rem;
	padding-left: 10rem;
}

.home{
	background: #03396c;
	width: 100%;
	height: 70%;
	border-radius: 0 0 90% 85% / 30%;
}
.home .home-slider .wrapper .slide .content h1{
	color: rgb(241, 228, 228);
	font-size: 2rem;
	
}
.home .home-slider .wrapper .slide .content h3{
	color: rgb(15, 240, 15);
	font-size: 2.5rem;
	
}
.home .home-slider .wrapper .slide .content p{
	color: lightslategray;
	font-size: 1rem;
	padding: .8rem 0;
	line-height: 1.5;
}
.swiper-pagination-bullet-active{
	background: #a83279;
}


/* Card STARTS*/
.course{
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100vh;
	background: #232427;
  }

body .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 40px 0;
  }
  
  body .container .card {
	position: relative;
	min-width: 320px;
	height: 440px;
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
	  			inset -5px -5px 15px rgba(255, 255, 255, 0.1),
	  			5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	margin: 30px;
	transition: 0.5s;
  }

  body .container .card .box {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	background: #2a2b2f;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s;
  }
  
  body .container .card .box:hover {
	transform: translateY(-50px);
  }
  
  body .container .card .box:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.03);
  }
  
  body .container .card .box .content {
	padding: 20px;
	text-align: center;
  }
  
  body .container .card .box .content h2 {
	position: absolute;
	top: -10px;
	right: 30px;
	font-size: 8rem;
	color: rgba(255, 255, 255, 0.1);
  }
  
  body .container .card .box .content h3 {
	padding-top: 1rem;
	font-size: 1.8rem;
	color: #7ee94c;
	z-index: 1;
	transition: 0.5s;
	margin-bottom: 15px;
  }
  
  body .container .card .box .content p {
	font-size: 1rem;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.8);
	z-index: 1;
	transition: 0.5s;
  }
  
  body .container .card .box .content a {
	position: relative;
	display: inline-block;
	padding: 8px 20px;
	background: black;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	margin-top: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
  }
  body .container .card .box .content a:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
	background: #fff;
	color: #000;
  }


/*Button */
.hero-btn{
	background-color: #ddd;
	display: inline-block;
	text-decoration: none;
	color: #f44336;
	border: 2px solid #f44336;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;	
}
.hero-btn:hover{
	border: 2px solid #7ee94c;
	background: #f44336;
	transition: 1s;
	box-shadow: 5px 5px 10px 2px #999;
	color: #fff;
}
nav .fa{
	display: none;
	
}


/* Background*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


* {
  box-sizing: border-box;
}

body {
	background: #EECDA3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #ee8db7, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Montserrat', sans-serif;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin: 0;
  	min-height: 100vh;
}


/* Contact us */
.text-center .about{
	width: 100%;
}
.about{
	cursor: pointer;
	background-color: #6B062D;
	border-radius: 30px;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 30px;
}
.about h1 {
	
	padding: 10px 0;
	margin-bottom: 20px;
}
.about h2 {
	opacity: .8;
}
.about span {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;  
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background-color: #4C0822;
	border: 2px solid #ee8db7;
 	transition:all .5s ease;

}
.about-item:hover span{
	opacity: 1;	
	border: 2px solid #CC0039;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}
.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	color: #CC0039;
	font-size: 14px;
	font-weight: bold;
}


/* FOOTER */
 .copyright {
	text-align: center;
	padding-top: 30px;
  }

  